// colors
$primary-dark: 2 15 20;
$secondary-dark: 5 32 43;
$tertiary-dark: 17 37 45;

$primary-bg: rgb($primary-dark);
$secondary-bg: rgba(rgb($secondary-dark), 0.5);
$secondary-bg-hover: rgb($secondary-dark);
$tertiary-bg: rgba(rgb($tertiary-dark), 0.5);

$white-75: rgb(255 255 255 / 75%);
$white-25: rgb(255 255 255 / 25%);

// other variables
$primary-radius: 4px;
$secondary-radius: 8px;

$short-transition: .2s;
$normal-transition: .4s;